.listItem{
    display: flex;
    flex-direction:row;
    width : 700px;
    justify-content: center;
    align-items: center;
    border-bottom:  2px solid black;
}

.list{
    display: flex;
    flex-direction:column;
    background-color: #ccc;
}

.listItemTag{
    list-style-type: none;
    font-size: 20px;
}


