.listItem{
    display: flex;
    flex-direction:row;
    width : 700px;
    border-bottom:  2px solid #ccc;
}

.list{
    display: flex;
    flex-direction:column;
}

.listItemTag{
    list-style-type: none;
    font-size: 30px;
}

.listItemCheckBox{

}


